<link rel="stylesheet" type="text/css" href="style.css">
<div class="body">
<div class="banner"> <img src="banner.jpg">
</div>
<div class="top-row">
<div class="profile-pic">
<img src="http://www.theunrealtimes.com/wp-content/uploads/2011/08/manmohan-singh12.jpg">
</div>
<div class="menubar">
<div id='cssmenu'>
<ul>
   <li><a href='index.html'><span>Donation App</span></a></li>
   <li class='has-sub'><a href='#'><span>Voice of AAP</span></a>
      <ul>
         <li><a href='#'><span>Product 1</span></a></li>
         <li class='last'><a href='#'><span>Product 2</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>Profile</span></a>
      <ul>
         <li><a href='#'><span>Social Accounts</span></a></li>
         <li class='last'><a href='#'><span>Edit Profile</span></a></li>
      </ul>
   </li>
   <li><a href='#'><span>Contact Us</span></a></li>
   <li class='last'><a href='#'><span>Sign Out</span></a></li>
</ul>
</div>
</div>
</div>
<div class="profile-name">
<p>Manmohan Singh</p>

</div>
<div class="bottom-row">
<div class="widgets">
<div class="left-widget">
<p>Ongoing Poll App</p>
</div>

<div class="left-widget">
<p>Training Modules</p>
</div>

<div class="left-widget">
<p>My Political Hierarchy</p>
</div>

<div class="left-widget">
<p>Ask a Question</p>
</div></div>
<div class="social-area">
<div class="social-fb">
<img src="fb.png"></div>
<div class="social-twtr">
<img src="twtr.png"></div>
</div>